services:
  enginframe:
    container_name: efportal-nisp
    hostname: efportal
    image: nispgmbh/efportal:latest
    ports:
      - "80:80"
      - "443:443"
    restart: 'unless-stopped'
    environment:
      - EFP_ADMIN_PASSWORD=EFP_by_NISP_2025
      - EF_DB_HOST=mysql
      - EF_DB_NAME=EnginFrameDB
      - EF_DB_USER=efportal
      - EF_DB_PASSWORD=nisp@demo#@##@@
    command: [ "/bin/bash", "/opt/container-tools/enginframe_init_script.sh" ]
    volumes:
      - enginframe_data:/opt/nisp/enginframe/data/
      - enginframe_conf:/opt/nisp/enginframe/conf/
      - enginframe_logs:/opt/nisp/enginframe/logs/
      - enginframe_sessions:/opt/nisp/enginframe/sessions/
      - enginframe_spoolers:/opt/nisp/enginframe/spoolers/
      - efp_uploaded_config_files:/opt/efp_uploaded_config_files
      - enginframe_backup:/enginframe_backup
      - dcvsm_broker_lib:/var/lib/dcvsmbroker/
      - dcvsm_cli:/opt/dcv-session-manager-cli/conf/
      - dcvm_installers:/opt/dcvm-installers
      - type: bind
        source: ./license.ef
        target: /opt/container-tools/license.ef

  mysql:
    image: mysql:8
    container_name: efportal-mysql
    restart: always
    environment:
      MYSQL_DATABASE: EnginFrameDB
      MYSQL_USER: efportal
      MYSQL_PASSWORD: nisp@demo#@##@@
      MYSQL_ROOT_PASSWORD: R@nd0m#P@ssw0rd321#Secure!
    command: --character-set-server=latin1
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_logs:/var/log/mysql

volumes:
  enginframe_data:
  enginframe_conf:
  enginframe_logs:
  enginframe_sessions:
  enginframe_spoolers:
  efp_uploaded_config_files:
  enginframe_backup:
  dcvsm_broker_lib:
  dcvsm_cli:
  dcvm_installers:
  mysql_data:
  mysql_logs:
